{
  box-sizing-box;
  }
  body {
     margin:0;
     background: white;
  }
  nav {
     background: #FF4500;
     width: 100%;
     overflow: auto;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  li {
      float: left;
  }
  nav a {
      width:120px;
      display: block;
      text-decoration: underline;
      text-align: center;
      background: black;
      font-size: 17px;
      color: #FF4500;
      padding: 20px 10px;
      font-family: Arial;
      
  }
  nav a:hover {
  
  }
  h1 {
    text-shadow: 0 0 6px #FF4500;;
    text-align: center;
    font-size: 80px;
  }
  .btn-group button:hover {
    background-color: red;
  }
  footer {
  text-align: center;
  color: black;
}
.btn-group button {
  background-color: #FF4500;
  border: 3px solid white; 
  color: black; 
  padding: 20px 40px; 
  cursor: pointer; 
  float: left;
  font-size: 22px;
  border-top-style: inherit;
};
  

