{
  box-sizing-box;
  }
  body {
    background-image: url("https://thumbs.gfycat.com/OrdinaryHeartfeltAnchovy-small.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  nav {
     background: red;
     width: 100%;
     overflow: auto;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  li {
      float: left;
  }
  nav a {
      width:120px;
      display: block;
      text-decoration: underline;
      text-align: center;
      background: black;
      font-size: 17px;
      color: rgb(211, 199, 199);
      padding: 20px 10px;
      font-family: Arial;
      
  }
  nav a:hover {
  
  }
  h1 {
    text-shadow: 0 0 6px red;
    text-align: center;
    font-size: 70px;
  }
  .btn-group button:hover {
    background-color: black;
  }
  footer {
  text-align: center;
  color: black;
}
.btn-group button {
  background-color: red;
  border: 3px solid white; 
  color: white; 
  padding: 20px 40px; 
  cursor: pointer; 
  float: left;
  font-size: 22px;
  border-top-style: inherit;
}
* { padding: 0; margin: 0; }
    	canvas { background: white; display: block; margin: 0 auto; 
}
h4 {
  text-align: center;
  color: black;
  text-shadow: 0 0 1px red;
}
h2 {
  color: black;
  text-shadow: 0 0 1px red;
  font-size: 40px;
}
h5 {
  text-align: center;
  color: black;
}
button {
  background-color: red;
  border: 1px transparent;
  -webkit-border-radius: 40px;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  padding: 12px 35px;

}
